* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
  background-color: rgb(20, 33, 44);
}

.container {
  background-color: rgb(21, 50, 75);
  padding: 5rem;
  /* max-width: 960px; */
  /* margin: 100px auto; */
  /* padding: 10px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-template-areas:
    "item1 item1 item2"
    "item3 item4 item4"
    "item3 item5 item5";
  /* align-items: end;
  justify-content: center; */
  /* column-gap: 10px;
  row-gap: 10px; */

  /* grid-auto-rows: 200px; */
}

.item {
  background: rgb(87, 133, 170);
  color: #fff;
  padding: 100px;
  font-size: 20px;
  border: skyblue 1px solid;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
  padding-bottom: 1px;
}

.item5 {
  grid-area: item5;
  padding-bottom: 0px;
}
